body{
    background-color: coral;
    display: inline-center;
    margin: 30px;
    margin-top: 20px;
    outline: 1px solid pink;
    color: black;
}
h1{
    color: #8a2be2;
}
.a{
  size: ;
}

.thead{
    text-align-last: justify;
}


}
